body {
    font-family: Inter;
    color: white;
    background-color: lightblue;
}

.inside {
    background-image: url(banner.jpg);
    width: 1140px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.leftside .leftbackground {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    margin-bottom: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 60%;
}

.leftside .leftbackground #bnrslidimg1 {
    width: 70%;
    height: 60%;
    border-radius: 15px;
}

.leftside .leftbackground .bottlepic {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-44%, -30%); /* Center the bottlepic inside leftbackground */
}

.leftside .leftbackground .bottlepic img {
    width: 90%;
    height: 90%;
}

.leftside p {
    transform: translate(42%, -400%); 
}

.rightside {
    justify-content: center;
}